## Tuple
- ordered and unchangeable. 
- allows duplicate members.
- can contain different data types.
- represent fixed collections of items

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
type(tuple1)

In [ ]:
type(tuple2)

In [ ]:
type(tuple3)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")
tuple1

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

In [ ]:
tup1 = (50,)
tup1

In [ ]:
# cannot change value
tup1[0] = 100

### to access tuple value

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

In [ ]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

tup3 = tup1 + tup2